body{
    margin: 16px;
    padding: 0px;
}
h1 {
    text-shadow: 1px 1px pink
}

.title11{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Zone {
display: flex;flex-wrap: wrap;

margin-top: 10%;
padding:auto;

font-size:5vw;
font-weight:bold;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Zone > div{
    box-sizing: border-box;
}

button {
    font-size: 40px;
    width: 50%;
    height: 200px;
    border: 0.5vw solid black;
    display:flex;
    align-items: center; /*세로 가운데로*/
    justify-content: center;/*가로 가운데로*/
}
p {
    font-family: 'Josefin Sans', sans-serif;
}

.item1 {background-image: url(https://cafeptthumb-phinf.pstatic.net/MjAyMjAyMTdfMjgx/MDAxNjQ1MDU5MzUwMzM5.ezZ2BzCNqbSXlauKHLIwlRNhncRabVYRIodEbB7GNPkg.mIbd2-ZeGvcBIj45PB_xKDp57i4r3kHS2STBtR9D_-8g.JPEG/%EA%B7%B8%EB%A6%BC1.jpg?type=w1600);
background-size: cover;
background-position: center; /* 사진 넣을 때 꼭 필요한 세줄*/
}

.item2{
background-image: url(https://blogfiles.pstatic.net/MjAyMjAyMTdfMjg0/MDAxNjQ1MDU5NTM3Mzc0.ZppTswsYisYalFsTzrmU1quY9y-mBARN1cHBRtQwIKMg.bWHDVzn754qOjFxp7XEte5wJC1loVJ0ulk9sGr44_Skg.PNG.sungmini0607/%EA%B7%B8%EB%A6%BC4.png);
background-size: cover;
background-position: center; /* 사진 넣을 때 꼭 필요한 세줄*/
}

.item3{
background-image: url(https://blogfiles.pstatic.net/MjAyMjAyMTdfMjI2/MDAxNjQ1MDU5NTYwOTY2.y1RlXVg8a9oUcDkiwYBHSSixttM2-WcCkwf62PL46-Yg.4t19Yd-nC25Cpgkq4ibnhGFbzNFz4pXZxEOQrG78p4kg.JPEG.sungmini0607/%EA%B7%B8%EB%A6%BC7.jpg);
background-size: cover;
background-position: center; /* 사진 넣을 때 꼭 필요한 세줄*/
}

.item4{
background-image: url(https://postfiles.pstatic.net/MjAyMjAyMTdfMjQ2/MDAxNjQ1MDU5NTMwNzI4.9vr_r9UNRO4w9up3wAMNYiCZujR6369f3MxrFdi305Qg.x6G7eYcV045cuwn8--Dm4EXAhwIkwfB3Y6j7FBHVU14g.PNG.sungmini0607/%EA%B7%B8%EB%A6%BC3.png?type=w966);
background-size: cover;
background-position: center; /* 사진 넣을 때 꼭 필요한 세줄*/
}
.item5 {
background-image: url(https://blogfiles.pstatic.net/MjAyMjAyMTdfMjA3/MDAxNjQ1MDU5NTQ4MjM5.jRZCm3Zu1A3fAKSys2FCqrTiEvFFxN2w64kGXvPRvZUg.m7IAJpND0Edo3MeAh79Iah5avmj1uaUU9nSGnphB0GYg.JPEG.sungmini0607/%EA%B7%B8%EB%A6%BC5.jpg);
background-size: cover;
background-position: center; /* 사진 넣을 때 꼭 필요한 세줄*/
}

.item6 {
background-image: url(https://blogfiles.pstatic.net/MjAyMjAyMTdfMjMz/MDAxNjQ1MDU5NTY2MjIx.uHyy5IuMYESjgNv3OI9Ny3hUU3OZOv-JMCP8_48fdVQg.bhzvbkUHdthq0pLCLMKPFhxyJ9VxXfPb-GnSV7xNth8g.JPEG.sungmini0607/%EA%B7%B8%EB%A6%BC8.jpg);
background-size: cover;
background-position: center; /* 사진 넣을 때 꼭 필요한 세줄*/
}

#cancel_2{
    float: right;
    right:1%;
    top:15%;
}
#cancel_2:hover{
    background-color: lightgrey;
    border-radius: 100%;
}
.item1:hover {
    text-shadow: 2px 2px gray;
}
.item2:hover {
    text-shadow: 2px 2px gray;
}

.item3:hover {
    text-shadow: 2px 2px gray;
}
.item4:hover {
    text-shadow: 2px 2px gray;
}
.item5:hover {
    text-shadow: 2px 2px gray;
}
.item6:hover {
    text-shadow: 2px 2px gray;
}
h1 {
    font-family: 'Shizuru', cursive;
}
@media screen and (max-width:900px) {
    button {
        font-size: 20px;
        width: 50%;
        height: 70px;
        border: 0.5vw solid black;
        display:flex;
        align-items: center; /*세로 가운데로*/
        justify-content: center;/*가로 가운데로*/
    }
}